.rx-btn{
  height: 36px;
  padding: 0 20px;
  background-color: #e8e8e8;
  letter-spacing: 2px;
}

.rx-btn.block{
  width: 100%;
  display: block;
}

.rx-btn.round{
  border-radius: 18px;
}

.rx-btn.disabled{
  opacity: .5;
}

.rx-btn.outline{
  border: 1px solid #e8e8e8;
  background-color: transparent;
}
