.menu .menu-box{
  position: fixed;
  top: 50px;
  bottom: 51px;
  left: 0;
  right: 0;
  display: flex;
}

.menu .menu-aside{
  height: 100%;
  width: 80px;
  overflow-y: auto;
}

.menu .menu-content{
  background-color: #fff;
  padding: 0 10px;
  width: calc(100% - 80px);
  box-sizing: border-box;
  overflow-y: auto;
}

.menu .pro-list{
  display: flex;
  flex-wrap: wrap;
}

.menu .pro-item{
  width: calc(50% - 5px);
  margin-right: 10px;
  margin-bottom: 10px;
}

.menu .pro-item:nth-child(2n){
  margin-right: 0;
}